CompileFlags:
  CompilationDatabase: build/fog/

  Add:
    - -isystem
    - C:/ncs/toolchains/dcbdc366a1/opt/zephyr-sdk/gnu/arm-zephyr-eabi/arm-zephyr-eabi/include/c++/14.3.0
    - -isystem
    - C:/ncs/toolchains/dcbdc366a1/opt/zephyr-sdk/gnu/arm-zephyr-eabi/arm-zephyr-eabi/include/c++/14.3.0/arm-zephyr-eabi/thumb/v8-m.main+fp/hard

  Remove: [
    "-fno-printf-return-value",
    "-mfp16-format=ieee",
    "-fno-reorder-functions"
  ]
